@use "../variables" as vars;



.tsc-akkordeon-item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;


  .tsc-akk-heading {
    margin: 0;
  }

  .label-wrapper{
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-gap: 1rem;
    .tsc-akk-heading-label {
      cursor: pointer;
      transition: all .3s ease;

      &:hover {
        opacity: .7;
      }
    }

    .labelicon {
      color: #fff;
      font-size: 50px;
      background-color: vars.$primary;
      font-weight: 400;
      border-radius: 50%;
      padding: 0 10px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      line-height: 50px;
      position: relative;
      z-index: 0;
      transition: 0.3s all ease;
      opacity: .8;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(50% - 10px);
        width: 20px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(50% - 10px);
        width: 20px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
        transform: rotate(90deg);
        transition: 0.2s all;
      }

      &:hover {
        background-color: vars.$secondary;

        &:before, &:after {
          width: 18px;
          transition: 0.2s all;
          left: calc(50% - 9px);
        }

      }


    }
  }



  .has-background {
    margin: 0;
    padding: 1rem !important;
  }

  .tsc-akk-content {
    height: 0;
    padding: .5rem;
    opacity: 0;
    transition: .4s ease all;
  }

  input[type="checkbox"] {

    display: none;

    &:checked ~ .tsc-akk-content {
      height: auto;
      opacity: 1;
    }
    &:checked  ~ .label-wrapper .labelicon{
      &:after{
        opacity: 0;
      }
    }
  }

}

