@use "../variables" as vars;

.inno-half-image-section {
  position: relative;
  min-height: 600px;
  overflow: hidden;
  padding: 40px;
  display: flex;
  align-items: center;
}

/* Halbseitiges Hintergrundbild */
.inno-half-image-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  @media (min-width: vars.$sm) {
    width: 60%;
  }
  @media (min-width: vars.$lg) {
    width: 45%;
  }
}

/* Content darf volle Breite */
.inno-half-image-section__content {
  position: relative;
  z-index: 2;
  width: 100%;        /* wichtige Zeile */
}
