@use "../variables" as vars;

.image-teaser-block {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;

  @media (min-width: vars.$wp-col-break) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  @media (min-width: vars.$lg) {
    &.image-teaser-col-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.image-teaser-col-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media (min-width: vars.$xl) {
    grid-gap: 3rem;
  }

  .image-teaser-item {
    aspect-ratio: 4 / 3;
    border-radius: 30px;
    .image-teaser-link {
      display: block;
      position: relative;
      overflow: hidden;
      aspect-ratio: 4 / 3;
      border-radius: 30px;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: -2px 2px 10px 4px rgba(255,255,255,.1);

        &:after {
          background-color: rgba(0, 0, 0, 0.88);
        }

        .image-teaser-description {
          opacity: 1;
        }
      }
      &:after {
        position: absolute;
        aspect-ratio: 4 / 3;
        border-radius: 30px;
        z-index: 2;
        content: "";
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.3s ease-in-out;
      }

      img {

        border-radius: 30px;
        transform: scale(1.3);
      }

      .image-teaser-title {
        margin: 0;
        position: absolute;
        bottom: -10px;
        left: -10px;
        width: 110%;
        height: 70px;
        padding: 1rem 2rem;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.7);
      }

      .image-teaser-description {
        padding: 2rem;
        opacity: 0;
        color: #fff;
        position: absolute;
        font-weight: 600;
        border-radius: 30px;
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-self: center;
        align-self: center;
        transition: all 0.3s ease-in-out;
        text-align: center;
      }


    }
  }
}
