@use "../variables" as vars;

$margin-bottom: 100px;

.wp-block-create-block-inno-image-text-overlay {
  display: block;
  max-width: 600px;
  position: relative;
  margin-block-end: $margin-bottom !important;

  img {
    border-radius: 20px;

  }

  .inner-container {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    right: -20px;
    padding: 1rem;
    height: fit-content;
    width: 100%;
    max-width: 450px;
  }

  &.is-style-content-left {
    .inner-container {
      right: unset !important;
      left: -20px !important;
    }
  }

  @media (min-width: vars.$xxs) {
    .inner-container {
      top: 80%
    }
  }

  @media (min-width: vars.$wp-col-break) {

    .inner-container {
      top: 55%
    }


  }


  @media (min-width: vars.$md) {

    .inner-container {
      padding: 2rem;
    }


  }

  @media (min-width: vars.$lg) {
    .inner-container {
      top: 65%;
    }

  }


}