@use "../variables" as vars;


.tsc-overlay-video{
  position: relative;
  width: 100vw;
  padding: 0 !important;
  overflow: hidden;
  left: 0;
  max-height: 90vh;
  aspect-ratio: 2 / 1;
  z-index: 0;

  video{
    width: 100vw;
    padding: 0 !important;
    max-width: 100vw !important;
  }

  .overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    background-size: cover;
    background-position: center

  }




}