@use "../variables" as vars;
@use "../mixins" as mixins;

$slider-header-height: 90vh;

.tsc-slider-header {
  top: calc(-1 * #{vars.$nav-height-mobile});

  @media (min-width: #{vars.$breakpoint-nav}) {
    top: calc(-1 * #{vars.$nav-height-desktop});
  }




  position: relative;
  height: $slider-header-height;
  @include mixins.section-spacing();

  &.image-header {
    display: flex;
    align-items: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .single-image-header {
    position: absolute;
    background-size: cover;
    inset: 0;
    background-position: center;
    z-index: 0;
    @media (min-width: vars.$sm) {
      left: 0;
    }
  }

  .image-slider {
    position: relative;
    height: $slider-header-height;
    overflow: hidden;

    .image-slide {
      height: $slider-header-height;
      width: 100%;
      background-size: cover;
      background-position: center;
      top: 0;
      left: 0;
      bottom: 0;

      position: relative;
    }
  }

  .acf-innerblocks-container {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: vars.$sm) {
      padding: 5%;
    }
    @media (min-width: vars.$lg) {
      padding: 10%;
    }
  }

  .splide__arrow,
  .splide__pagination {
    z-index: 6;
  }
}