@use "../variables" as vars;

$icon-color: #fff;
$icon-bg-color: vars.$primary;
$footer-icon-color: #fff;
$footer-icon-bg-color: vars.$third;



.follow{
  display: flex;
  &.alignleft{
    justify-content: flex-start;
  }
  &.alignright{
    justify-content: flex-end;
  }
  &.aligncenter{
    justify-content: center;
  }

  .links {
    display: flex;
    width: fit-content;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      font-size: .8em;
      display: inline-block;
      text-decoration: none;
      opacity: 1;

      transition: all 0.4s ease-in-out;

      &:hover {
        opacity: 0.7;
        transition: all 0.4s ease-in-out;
      }

      i {
        background-color: $icon-bg-color;
        color: $icon-color;
        padding: 7px;
        border-radius: 100%;
      }

      span {

        &:hover {
          transform: rotateY(360deg);
          transition: all linear 0.6s;
        }
      }
    }

  }
}

.page-footer .follow{
  a i{
    color: $footer-icon-color !important;
    background-color: $footer-icon-bg-color !important;
  }
}