@use "../variables" as vars;


.tsc-block-txt-img {

  position: relative;

  .txt-img-content {
    @media (min-width: vars.$md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      bottom: 0;
    }
    @media (min-width: vars.$lg) {
      width: 45%;

    }
    @media (min-width: vars.$xl) {
      width: 30%;
    }
  }


  &.tsc-txt-col-left {
    .txt-img-content {
      left: unset;
      right: 0;
    }

  }


}