@use "../variables" as vars;

.woocommerce {

  nav.woocommerce-MyAccount-navigation {

    ul {
      list-style-type: none;

      li {
        margin-top: 0.3em;
        &::before{
          content:"";
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 0 7px 12.1px;
          border-color: transparent transparent transparent vars.$third;
          padding-right: 5px;
        }

        a {
          text-decoration: none;
          &:hover{
            color: vars.$third;
            text-decoration: underline;
            transition: 0.3s ease-in-out;
          }
          &:active{
            $color: vars.$third;
          }

        }

      }

    }


  }

}