@use "../../variables" as vars;

.wp-block-acf-logocarousel {

  .splide{
    display: flex;
    justify-content: center;
    align-items: center;

    ul{
      padding: 0;
      list-style-type: none;
      display: flex;
      gap: 1rem;
    }


  }

  img {
    max-width: 100px;
  }



}
