.wp-block-acf-tsc-overlay-video {
  video {
    max-width: 100% !important;
    position: relative;
  }

  .overlay {
    max-width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


}

.tsc-overlay-video.alignfull{
  max-width: 1000px !important;
}