@use "../variables" as vars;



.post-item {
  width: 100%;
  overflow: hidden;
  display: grid;
  margin-bottom: 1rem;
  @media (min-width: vars.$md) {
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .post-meta {


    @media (min-width: vars.$md) {
      max-width: 150px;
      margin-left: auto;
    }


    time {
      text-align: right;
      color: vars.$primary;
      padding-bottom: .5rem;
      border-bottom: 1px solid vars.$lighted;
      display: block;

      .date-main {
        display: block;
        font-size: 5rem;
        font-weight: 800;
        line-height: 1;
        @media (min-width: vars.$md) {
          font-size: 6rem;
        }
      }

      .date-sub {
        font-weight: 700;
        display: block;

      }
    }

    .post-categories {
      list-style-type: none;
      padding-left: 0;
      text-align: right;
      margin: .5rem 0 0;

      li {
        display: inline-block;
        position: relative;
        margin-right: .3rem;

        a {
          @media (min-width: vars.$md) {
            color: vars.$base-color;
          }


        }

        &:before {
          content: "";
          position: absolute;
          width: 1px;
          top: 3px;
          bottom: 3px;
          right: -.3rem;
          background-color: vars.$lighted;
          @media (min-width: vars.$md) {
            content: unset;
          }

        }

        &:last-of-type:before {
          content: unset !important;
        }

        @media (min-width: vars.$md) {
          display: block;
        }
      }

    }


  }


  .post-content {
    padding: 1rem 0;
    transition: background-color 300ms ease;
    text-align: right;
    @media (min-width: vars.$md) {
      text-align: left;
      padding: 0;
    }


    > a {
      figure {
        overflow: hidden;
        margin: 0 !important;
        aspect-ratio: 3 / 2;

        img {
          transition: all 0.3s;

        }
      }
      &:hover {

        img {
          transform: scale(1.01);
          opacity: 0.8;
        }
      }



    }


    .post-title {
      margin: .7rem 0 0 0;
    }

    .btn {
      margin: 0;
      padding-top: .5rem !important;
    }


  }

}

.post-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0 !important;
}

/*
.similar-post {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: vars.$post-item-bg;
  color: $post-color;

  .post-grid {

    .post-item:nth-child(3) {
      display: none;
      visibility: hidden;
      @media (min-width: $sm) {
        display: block;
        visibility: visible;
      }
    }
  }
}
*/


.blog,
.archive {
  h1 {
    @media (min-width: vars.$breakpoint-nav) {
      //margin-top: 0 !important;
    }

  }
}