@use "../variables" as vars;



.post-item {
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  margin-bottom: 1rem;
  @media (min-width: vars.$md) {
  }

  .post-meta {


    @media (min-width: vars.$md) {
      max-width: 150px;
      margin-left: auto;
    }


    time {
      text-align: right;
      color: vars.$primary;
      padding-bottom: .5rem;
      border-bottom: 1px solid vars.$lighted;
      display: block;

      .date-main {
        display: block;
        font-size: 5rem;
        font-weight: 800;
        line-height: 1;
        @media (min-width: vars.$md) {
          font-size: 6rem;
        }
      }


    }

    .post-categories {
      list-style-type: none;
      padding-left: 0;
      text-align: right;
      margin: .5rem 0 0;

      li {
        display: inline-block;
        position: relative;
        margin-right: .3rem;

        a {
          @media (min-width: vars.$md) {
            color: vars.$base-color;
          }


        }

        &:before {
          content: "";
          position: absolute;
          width: 1px;
          top: 3px;
          bottom: 3px;
          right: -.3rem;
          background-color: vars.$lighted;
          @media (min-width: vars.$md) {
            content: unset;
          }

        }

        &:last-of-type:before {
          content: unset !important;
        }

        @media (min-width: vars.$md) {
          display: block;
        }
      }

    }

  }


  .post-content {
    padding: 1rem 0;
    transition: background-color 300ms ease;


    > a {
      figure {
        overflow: hidden;
        margin: 0 !important;
        aspect-ratio: 3 / 2;

        img {
          transition: all 0.3s;

        }
      }
      &:hover {

        img {
          transform: scale(1.01);
          opacity: 0.8;
        }
      }



    }


    .post-title {
      margin: .7rem 0 0 0;
      font-size: 1.1rem !important;
    }

    .btn {
      margin: 0;
      padding-top: .5rem !important;
    }


  }

}

.post-grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0 !important;
  gap: 1.5rem;
}


.blog,
.archive {
  h1 {
    @media (min-width: vars.$breakpoint-nav) {
      //margin-top: 0 !important;
    }

  }
}