@use "../variables" as vars;


$paginate-size: 30px !default;
// Pagination
.pagination {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;

    > span,
    > a {
        font-size: .8em;
        font-weight: bold;
        display: inline-block;
        width: $paginate-size;
        height: $paginate-size;
        line-height: $paginate-size;
        text-decoration: none;
        text-align: center;
        color: vars.$base-color;
        margin-right: .3em;
    }

    .prev,
    .next {
        span {
            font-size: $paginate-size;
        }
    }

    a.page-numbers:hover {
        color: vars.$primary;
    }

    .current {
        background-color: vars.$primary;
        color: vars.$base-bg-color;
    }
}

// Post Navigation

.post-navigation {
    margin: 3rem auto 0;

    .nav-links {
        margin: 0;
        display: flex;
        justify-content: space-between;

        > div {
            display: inline-block;
        }

        a {
            display: inline-block;
            font-weight: 700;
            text-decoration: none;
            margin: .3em 0;
            color: vars.$secondary;
            padding: 1rem;
            border: 1px solid vars.$secondary;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            line-height: 1rem;
            transition: .3s all ease-in-out;
            &:hover{
                color: #fff;
                background-color: vars.$secondary;
            }
        }


        .nav-previous + .nav-next {
            @media (min-width: vars.$sm) {
                // hier den Innenabstand der Icons einstellen
                width: 100%;
                padding-left: 1em;
            }
        }
    }
}

.back {
    text-align: center;

    a.btn {
        padding: .3em 1em;
    }
}

// Category Navigation
/*
ul.nav {
    list-style-type: none;
    padding: 0;

    li {
        display: inline-block;
        padding: 0 .5em;

        a {
            display: block;
            color: vars.$base-color;
            padding: .3em 0;
            box-shadow: none;
            text-decoration: none;

            &:hover {
                box-shadow: inset 0 -2px 0 vars.$primary-color;
            }
        }

        &.current-cat > a {
            color: vars.$primary-color;
            font-weight: 700;
        }
    }
}
 */