@use "../variables" as vars;


$form-radius: 4px !default;


.fluentform{
    border: 1px solid vars.$lighted;
    padding: 1em;
    border-radius: 5px;
    @media only screen and (min-width: vars.$sm) {
        padding: 1.5em;
    }
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"] {
    font-family: vars.$primary-font-family !important;
    width: 100%;
    background-color: vars.$base-bg-color;
    border: 1px solid vars.$base-border-color;
    border-radius: $form-radius;
    line-height: 38px;
    height: 40px;
    font-size: 1em;
    padding: 0 .5em;
    margin: 0;

    &:focus {
        outline: none;
        border: 1px solid vars.$secondary;
    }

    &[readonly] {
        color: rgba(vars.$base-color, .6);
    }
}

textarea {
    font-family: vars.$primary-font-family !important;
    width: 100%;
    height: 130px;
    background-color: vars.$base-bg-color;
    border: 1px solid vars.$base-border-color;
    border-radius: $form-radius;
    font-size: 1em;
    padding: .5em;

    &:focus {
        outline: none;
        border: 1px solid vars.$secondary;
    }
}

select {
    width: 100%;
    background-color: vars.$base-bg-color;
    border: 1px solid vars.$base-border-color;
    border-radius: $form-radius;
    line-height: 38px;
    height: 40px;
    font-size: 1em;
    padding: 0 .5em;

    &:focus {
        outline: none;
        border: 1px solid vars.$secondary;
    }
}

input[type="file"] {
    width: 100%;
    background-color: vars.$base-bg-color;
    border: 1px solid vars.$base-border-color;
    border-radius: $form-radius;
    line-height: 32px;
    height: 40px;
    font-size: 1em;
    padding: 0 .5em 0 0;

    &:focus {
        outline: none;
        border: 1px solid vars.$secondary;
    }
}
