@use "../variables" as vars;


.scroll-top{
  background-color: vars.$primary;
  height: 40px;
  width: 40px;
  //border-radius: 10px;
  display: inline-block;
  position: fixed;
  bottom: 5%;
  right: 5px;
  z-index: 10000000;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.4);
  @media only screen and (min-width: vars.$sm) {
    height: 45px;
    width: 45px;
  }

  visibility: hidden;
  &:before{
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 10px);
    content: "";
    border: solid vars.$base-bg-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 9px;
    transform: rotate(-135deg);
  }

  &.visible{
    opacity: 0.9;
    visibility: visible;
    transition: all ease-in-out 0.3s;
    &:hover{
      box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.2);
      transition: box-shadow 0.3s ease-in-out;
      opacity: 0.5;
    }
  }
}
