@use "../variables" as vars;


.brand,
.brand-lighted,
.brand-mobile {

  @media (min-width: vars.$breakpoint-nav) {
    position: absolute;
    z-index: 999999999999;
    top: 15px;
  }


  a {

    display: block;
    @media (min-width: vars.$breakpoint-nav) {
    }

    img,
    svg {
      width: auto;
      margin-top: 2.5px;
      height: 40px;
      @media (min-width: vars.$breakpoint-nav) {
        height: 50px;

      }
    }

  }

}

#navbar {

  // ===== M o b i l e ====
  .brand,
  .brand-lighted {
    display: none;
  }

  @media (min-width: vars.$sm) {
    .brand-mobile {
      display: none;
    }
  }


  @media (min-width: vars.$sm) {


    // ===== Desktop incl. colored navbar ====
    // ein
    .brand {
      display: block;
    }

    // aus
    .brand-mobile {
      display: none;
    }

    .brand-lighted {
      display: none;
    }


    &.full-size-pageheader-menu.lighted {
      .brand-mobile {
        display: none;
      }

      .brand {
        display: none;
      }

      .brand-lighted {
        display: block;
      }
    }


  }
}




