@use "../variables" as vars;
@use "../mixins" as mixin;


#primary-nav {
  position: fixed;
  top: vars.$nav-height-mobile + 45px;
  width: 100%;
  left: 0;
  height: 0;
  overflow-y: auto;
  background-color: vars.$primary;
  opacity: 0;
  pointer-events: none;
  transition: all 0.35s ease-in-out;
  z-index: 1000;


  @media only screen and (min-width: vars.$sm) {
    width: 50%;
  }

  @media (min-width: vars.$breakpoint-nav) {
    width: 100%;
    position: static;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 1;
    height: 45px;
    overflow: visible;
    opacity: 1;
    pointer-events: auto;
    background-color: vars.$primary;
    box-shadow: none;
    @include mixin.alignfull();
    padding-left: 10%;
    padding-right: 10%;
  }


  .nav-menu {
    padding: 1rem 1rem 2rem 2.5rem;
    @media (min-width: vars.$sm) {
      padding: 2em vars.$nav-padding-desktop;
    }
    @media (min-width: vars.$breakpoint-nav) {
      display: flex;
      padding: 0;
      margin-top: vars.$desktop-menu-margin-top;
    }

    li, a {
      letter-spacing: vars.$nav-font-letter-spacing;
    }

    a {
      display: block;
      text-decoration: none;

    }

    li {
      position: relative;
      @media (min-width: vars.$breakpoint-nav) {
        white-space: nowrap;
      }
    }


    > li {
      @media (min-width: vars.$breakpoint-nav) {
        display: inline-block;
        background-color: transparent;

      &:last-of-type a {
        border-right: 1px solid vars.$lighted;
      }


      }

      > a {
        position: relative;
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;

        //justify-content: center;
        font-size: vars.$mobile-nav-font-size;
        font-weight: vars.$nav-mobile-font-weight;
        color: vars.$nav-color;

        &:active {
          color: vars.$nav-active-color;
        }

        @media (min-width: vars.$breakpoint-nav) {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 45px;
          line-height: 45px;
          font-size: vars.$desktop-nav-font-size;
          font-weight: vars.$nav-desktop-font-weight;
          color: vars.$nav-color-desktop;
          transition: all .3s ease-in-out;
          border-left: 1px solid vars.$lighted;
          border-right: none;
          padding: 0 1.5rem;



          &:hover {
            color: vars.$nav-active-color-desktop;
            background-color: vars.$subnav-active-bg-color-desktop;
          }
        }
      }


      // CURRENT MENU ITEMS




      /*========================================
      =            SUBMENU STYLES             =
      ========================================*/

      > .sub-menu {
        display: none;
        padding: 0 !important;
;
        background-color: vars.$subnav-mobile-bg-color;

        @media (min-width: vars.$breakpoint-nav) {
          padding: 1rem;
          background-color: vars.$subnav-desktop-bg-color;
          display: block;
          min-width: 180px;
          position: absolute;
          top: calc(100% + 50px);
          left: 0;
          z-index: 1;
          opacity: 0;
          pointer-events: none;
          box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.2);
          transition: all .3s ease-in-out;
     /*     &:before {
            content: "";
            top: -15px;
            left: 25px;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 12px 16px 12px;
            border-color: transparent transparent vars.$subnav-desktop-bg-color transparent;

          }*/

        }

        li, a {
          color: vars.$subnav-mobile-color;
          font-size: vars.$mobile-nav-font-size * 0.9;
          @media (min-width: vars.$breakpoint-nav) {
            color: vars.$subnav-desktop-color;
            font-size: vars.$desktop-subnav-font-size;

          }
        }

        li {
          height: 0;
          transform: scaleY(0);

          @media (min-width: vars.$breakpoint-nav) {
            transform: none;
            height: auto;
            background-color: vars.$subnav-desktop-bg-color;
            border-bottom: 1px solid vars.$lighted;
          }

          &.current-menu-item > a {
            color: vars.$subnav-mobile-active-color;
            font-weight: vars.$nav-active-font-weight;
            @media (min-width: vars.$breakpoint-nav) {
              color: vars.$subnav-active-color-desktop;
            }
          }
        }

        a {
          line-height: 1.2;
          padding: 1em 0 1em .7em;
          color: vars.$subnav-mobile-color;

          &:active {
            color: vars.$subnav-mobile-active-color;
          }

          @media (min-width: vars.$breakpoint-nav) {
            &:hover {
              color: vars.$subnav-active-color-desktop;
            }
          }

          @media (min-width: vars.$breakpoint-nav) {
            padding: 1.75em 1rem;
            color: vars.$subnav-desktop-color;
            &:hover {
              color: vars.$subnav-active-color-desktop;
              background-color: vars.$lighted;
            }
          }
        }


      }

      /* Toggle-Zustand über Button-Attribut statt Checkbox */
      .menu-toggle[aria-expanded="true"] {
        /* Icon-Animation wie bisher */
        em:before,
        em:after {
          transform: rotate(0) translateY(-2px);
        }
      }

      /* Submenü zeigen, wenn geöffnet (mobile) */
      .menu-toggle[aria-expanded="true"] ~ .sub-menu {
        display: block;

        li {
          @media (max-width: #{vars.$breakpoint-nav - 1px}) {
            height: auto;
            transform: scaleY(1);
          }
        }
      }

      &:hover > .sub-menu {
        opacity: 1;
        pointer-events: auto;
        z-index: -1;
        top: 100%;

      }
    }

  }
}







