@use "../variables" as vars;

// 300 – Light
@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-300italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

// 400 – Regular
@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

// 500 – Medium
@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-500italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

// 600 – SemiBold
@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-600italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

// 700 – Bold
@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{vars.$font-path}/poppins/poppins-v24-latin-700italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
