@use "../variables" as vars;


// Allgemeine Headline-Einstellungen
h1, h2, h3, h4, h5, h6,
.is-style-h1,
.is-style-h2,
.is-style-h3 {
  font-family: vars.$headline-font-family;
  font-weight: vars.$headline-font-weight;
  color: vars.$headline-color;
  line-height: 1.1;
  margin-block-start: 1em !important;
  margin-block-end: .7em !important;
  position: relative;
  //letter-spacing: 2px;
}

@mixin fluid-type($min, $vw, $max) {
  font-size: clamp($min, $vw, $max);
}
@mixin fluid-type-important($min, $vw, $max) {
  font-size: clamp($min, $vw, $max) !important;
}

// Schriftgrößen für die einzelnen Überschriften
h1 {
  @include fluid-type(2.4rem, 5vw, 3.25rem);
  line-height: 1.2;
}
.is-style-h1 {
  @include fluid-type-important(2.4rem, 5vw, 3.25rem);
  line-height: 1.2;
}

h2:not(.post-title) {
  @include fluid-type(2rem, 4vw, 2.25rem);
  line-height: 1.2;
}
.is-style-h2 {
  @include fluid-type-important(2rem, 4vw, 2.25rem);
  line-height: 1.3;
}

h3 {
  @include fluid-type(1.5rem, 3vw, 1.625rem);
  line-height: 1.3;
}

.is-style-h3 {
  @include fluid-type-important(1.5rem, 3vw, 1.625rem);
  line-height: 1.3;
}

h4:not(.post-title) {
  @include fluid-type(1.125rem, 2vw, 1.25rem);
  line-height: 1.3;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .8rem;
}


