@use "../variables" as vars;


a {
  color: vars.$secondary;
  transition: all 250ms linear;
  text-decoration: none;

  &:hover {
    color: vars.$primary;
  }

  &:active {
    background-color: rgba(vars.$base-color, .3);
  }

  &.more-link {
    display: inline-block;
  }
}