@use "./variables" as vars;


@mixin section-spacing(){
  //margin-top: vars.$section-spacing-mobile;
  margin-bottom: vars.$section-spacing-mobile;
  @media screen and (min-width: vars.$breakpoint-nav) {
    // margin-top: vars.$section-spacing-desktop;
    margin-bottom: vars.$section-spacing-desktop;
  }
}

@mixin container-spacing(){
  padding-right: vars.$container-padding-mobile;
  padding-left: vars.$container-padding-mobile;
  max-width: vars.$container-width-mobile;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: vars.$sm) {
    padding-right: vars.$container-padding-desktop;
    padding-left: vars.$container-padding-desktop;
    max-width: vars.$container-width-desktop;
  }
}

@mixin alignwide {
  margin-right: calc(25% - 25vw);
  margin-left: calc(25% - 25vw);
}

@mixin alignfull {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}




