@use "variables" as vars;
@use "mixins" as mixins;
@use "typography/flaticon" as flaticon;

$font-path: "../fonts";
@use "typography/base-typography";
@use "typography/fonts";
@use "typography/headlines";
@use "typography/links";
@use "typography/lists";
@use "base/buttons";
@use "base/gutenberg";

@use "editor/base";
@use "editor/wp-block";
@use "editor/blocks/editor-overlayed-video";
@use "editor/blocks/editor-video-header";
@use "editor/blocks/editor-testimonial-slider";
@use "editor/blocks/editor-logo-carousel";
@use "editor/blocks/editor-inno-icon-content";


@use "blocks/social-icons";
@use "blocks/icon-content-block";
@use "blocks/icon-image-teaser";
@use "blocks/image-teaser";
@use "blocks/moving-overlay";
@use "blocks/team";
@use "blocks/text-img";
@use "blocks/text-img-overlay";
//@use "blocks/video-header";
@use "blocks/videotext";
@use "blocks/overlayed-video";
@use "blocks/inno-akkordeon";



/*.post-item{
  max-width: calc(300px);
}*/


.alignfull:not(.wp-block-cover) > *{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.editor-styles-wrapper{
  padding-left: 2%;
  padding-right: 2%;
}

.post-item a {
  pointer-events: none !important;
  cursor: not-allowed !important;

}